<div class="widgets">
  <form (ngSubmit)="onSearch()">
  <ba-card cardTitle="" baCardClass="with-scroll">
   
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <label for="size">Size & Type</label>
        <select class="form-control" id="size" (change)="onTypeChange($event)">
		  	<option value="-1" >--Select--</option>
		  	<option *ngFor="let type of types" [value]="type.id">{{type.size+" "+type.type}}</option>
		</select>
      </div>
    </div>
        <div class="col-sm-3">
      <div class="form-group">
        <label for="country">Country</label>
        <select class="form-control" id="size" (change)="onCountryChange($event)">
		  	<option value="-1" >--Select--</option>
		  	<option *ngFor="let country of countries" [value]="country.id">{{country.isoLocalName}}</option>
		</select>
      </div>
    </div>
        <div class="col-sm-3">
      <div class="form-group">
        <label for="port">Port</label>
        <select class="form-control" id="size" (change)="onPortChange($event)">
		  	<option value="-1" >--Select--</option>
		  	<option *ngFor="let port of ports" [value]="port.id">{{port.isoPortCode}}</option>
		</select>
      </div>
    </div>
        <div class="col-sm-3">
      <div class="form-group">
        <label for="company">Company</label>
        <select class="form-control" id="size" (change)="onCompanyChange($event)">
		  	<option value="-1" >--Select--</option>
		  	<option *ngFor="let company of companies" [value]="company.id">{{company.name}}</option>
		</select>
      </div>
    </div>
  </div>
  <div class="" align="right">
      <button style="width:15%" onclick="onSearch()" class="btn btn-primary" >Search</button>
      </div>
  </ba-card>
  </form>
<form (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-md-12">
    <ba-card cardTitle="Search Result" baCardClass="with-scroll" class="smart-table-container">
      <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" (rowSelect)="onRowSelect($event)"></ng2-smart-table><br>
      <div class="" align="right">
      <button style="width:15%" onclick="onSubmit()" class="btn btn-primary" >Book Selected Item</button>
      </div>
    </ba-card>
    </div>
</div>
</form>
  <!-- <ba-card cardTitle="Booking Content">
    <ng2-smart-table [settings]="settings1" [source]="source1" ></ng2-smart-table>
  </ba-card> -->
<form (ngSubmit)="onConfirm($event)">
  <ba-card *ngIf="bookingContent" cardTitle="Booking Requisition Form">
    <p *ngIf="msg" class="autoHideAlert">Container Booked successfully..!</p> 
  <div class="row">
    <div class="col-md-12">
      <div>
        <ba-card cardTitle="" baCardClass="with-scroll">
          <block-form [fromSearchRequisitionNumber]="requisitionNumber"
          [fromSearchRequestQuantity]="requestQuantity" 
          [fromSearchSourcePorts]="srcPorts"
          (searchSelectedRequisitionNo)="selectedRequisitionNo = $event" 
          (searchSelectedRequestedQuantity) = "selectedRequestedQuantity=$event"
          (searchSelectedPickupDate) = "selectedPickupDate=$event"
          (searchSelectedSource) = "selectedSource=$event"
          (searchSelectedDestination) = "selectedDestination=$event"
          (searchSelectedNote) = "selectedNote=$event"

          ></block-form>
        </ba-card>
      </div>
    </div>
  </div>
    <ng2-smart-table [settings]="settings1" [source]="source1" (ngSubmit)="onConfirm($event)" (deleteConfirm)="onDeleteConfirm($event)" > </ng2-smart-table><br>
     <div align="right"  class="">
      <button style="width:10%" class="btn btn-primary">Book</button>
      </div>
    
       
  </ba-card></form>