<div class="widgets">
  <form (ngSubmit)="onSearch()">
  <ba-card cardTitle="Search Form" baCardClass="with-scroll">
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <label for="size">Size & Type</label>
        <select class="form-control" id="size" (change)="onTypeChange($event)">
		  	<option value="-1" disabled>--Select--</option>
		  	<option *ngFor="let type of types" [value]="type.containerType.id">{{type.containerType.size+" "+type.containerType.type}}</option>
		</select>
      </div>
    </div>
        <div class="col-sm-3">
      <div class="form-group">
        <label for="country">Country</label>
        <select class="form-control" id="size" (change)="onCountryChange($event)">
		  	<option value="-1" disabled>--Select--</option>
		  	<option *ngFor="let country of countries" [value]="country.port.country.id">{{country.port.country.isoLocalName}}</option>
		</select>
      </div>
    </div>
        <div class="col-sm-3">
      <div class="form-group">
        <label for="port">Port</label>
        <select class="form-control" id="size" (change)="onPortChange($event)">
		  	<option value="-1" disabled>--Select--</option>
		  	<option *ngFor="let port of ports" [value]="port.port.id">{{port.port.isoPortCode}}</option>
		</select>
      </div>
    </div>
        <div class="col-sm-3">
      <div class="form-group">
        <label for="company">Company</label>
        <select class="form-control" id="size" (change)="onCompanyChange($event)">
		  	<option value="-1" disabled>--Select--</option>
		  	<option *ngFor="let company of companies" [value]="company.company.id">{{company.company.name}}</option>
		</select>
      </div>
    </div>
  </div>
  <div class="w3-container" >
      <button style="width:15%" onclick="onSearch()" class="w3-button w3-white w3-border w3-border-blue w3-round-large" >Search</button>
      </div>
  </ba-card>
  </form>
<form (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-md-12">
    <ba-card cardTitle="Search Content" baCardClass="with-scroll" class="smart-table-container">
      <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" (rowSelect)="onRowSelect($event)"></ng2-smart-table>
      <div class="w3-container" >
      <button style="width:15%" onclick="onSubmit()" class="w3-button w3-white w3-border w3-border-blue w3-round-large" >Book Selected Item</button>
      </div>
    </ba-card>
    </div>
</div>
</form>
  <!-- <ba-card cardTitle="Booking Content">
    <ng2-smart-table [settings]="settings1" [source]="source1" ></ng2-smart-table>
  </ba-card> -->

  <ba-card cardTitle="Booking Content"> 
  <div class="row">
    <div class="col-md-12">
      <div>
        <ba-card cardTitle="Block Form" baCardClass="with-scroll">
          <block-form></block-form>
        </ba-card>
      </div>
    </div>
  </div>
    <ng2-smart-table [settings]="settings1" [source]="source1" (deleteConfirm)="onDeleteConfirm($event)" > </ng2-smart-table>
     <div align="right"  class="">
      <button style="width:10%" onclick="onDelete()" class="w3-button w3-white w3-border w3-border-blue w3-round-large">confirm</button>
      </div> 
  
  </ba-card>