@import '../../theme/sass/auth';


.autoHideAlert{

    position: absolute;
    left: 50%;
    top: 3px;
    background: #00abff;
    padding: 10px;
    border-radius: 5px;
    width: 500px;
    margin-left: -250px;
    color: white;
    text-align: center;
}

.logo{
	width:130px;
}
.logoCont{
	padding: 10px 0;
}
.auth-block{
    background: #ffffff;
    padding-bottom: 5px !important;
}

.auth-block font{
	color:#666;
}
.auth-main{

      background: #00b9f2;
      flex-direction:column;    
}
 .auth-block .btn-auth {
 
    background: #00abf2!important;
}
.forgot-pass{

	top:10px;
	color:#00b9f2;
}
.forgot-pass font, .copyright a{
	color:#00b9f2;
}
.copyright {

    margin-top: 40px;
    color: #666;
}
.btn-signup{

    border: 1px solid #8d9096;
    background: #e7e9ec;
    display:block;
    margin:0 auto;
    width:200px;
    font-size: 0.9rem;
}
    .form-group label {
   
    font-weight: 700;
   
}