<div class="widgets">

<div class="">
     <div   class="switch" >
      <input type="radio" class="switch-input" name="view" value="week" id="month" (click)="borrowerButton()" checked>
      <label align="left" for="month" class="switch-label switch-label-on" ng-focus="lenderButton()">Borrower</label>
      <input type="radio" class="switch-input" name="view" value="month" id="week" (click)="lenderButton()" checked>
      <label align="left" for="week" class="switch-label switch-label-off">Lender</label>
      <span class="switch-selection"></span>
    </div>
    
  <div class="row">
    <ba-card cardTitle="" baCardClass="with-scroll" class="smart-table-container">
       <p *ngIf="rmsg" class="autoHideAlert">Container Realese successfully..!</p> 
        <p *ngIf="cmsg" class="autoHideAlert">Container Confirm successfully..!</p> 
         <p *ngIf="rjmsg" class="autoHideAlert">Container Rejected successfully..!</p> 
      <ng2-smart-table [settings]="settings" [source]="source" (rowSelect)="onRowSelect($event)"></ng2-smart-table><br>
       <div [ngClass]="bButton" align="right">
      <button style="width:10%" class="btn btn-primary" (click)="onRelease()">Realese</button>
      </div>
     <div [ngClass]="lButton" align="right">
      <button style="width:10%" class="btn btn-primary" style="margin-left:16px;" (click)="onConfirm()">Confirm</button>
      <button style="width:10%" class="btn btn-primary" style="margin-right:16px;" (click)="onReject()">Reject</button>
      </div>
    </ba-card>
  </div>

</div>
