<div class="page-top clearfix" baScrollPosition maxHeight="50" (scrollChange)="scrolledChanged($event)"
     [ngClass]="{scrolled: isScrolled}">
  <a routerLink="/pages/dashboard" class="al-logo clearfix"><img   class="plogo" src="assets/images/01wp.png"/><span >ECR </span></a>
  <a href (click)="toggleMenu()" class="collapse-menu-link ion-navicon"></a>
  
<!-- <div class="search">
    <i class="ion-ios-search-strong" ng-click="startSearch()"></i>
    <input id="searchInput" type="text" placeholder="Search for...">
  </div>
 -->

  <div class="user-profile clearfix">
   <!-- <font color="white">{{username}} | {{companyid}}</font> -->
   <span class="user-name"><font style="size:10px" color="white" style="text-transform:uppercase" >{{username}} | {{companyid}}</font></span>
  <!--   <h3><font color="white">{{appTitle}}</font></h3>-->
    <div class="dropdown al-user-profile">
      <a class="profile-toggle-link dropdown-toggle" id="user-profile-dd" data-toggle="dropdown" aria-expanded="false">
        <img src="{{ ( 'Nasta' | baProfilePicture ) }}">
      </a>
      <ul class="dropdown-menu top-dropdown-menu profile-dropdown" aria-labelledby="user-profile-dd" >
        <li class="dropdown-item"><a ><i class="fa fa-user"></i>{{username}}</a></li>
        <li class="dropdown-item"><a ><i class="fa fa-cog"></i>Settings</a></li>
        <li class="dropdown-item" (click)="signOut()"><a href class="signout"><i class="fa fa-power-off"></i>Sign out</a></li>
      </ul>
    </div>
    <ba-msg-center></ba-msg-center>
  </div>
</div>
